---
import me from 'assets/images/idea.png';
import { Image } from 'astro:assets';
import Corner from 'sections/home/Corner.astro';
---

<div class="img-container-outer">
	<Corner className="tl" />
	<Corner className="tr" />
	<Corner className="bl" />
	<Corner className="br" />
	<div class="img-container">
		<div class="me-distort" data-scroll-distort="me">
			<Image src={me} alt="picture of me" class="me" />
		</div>
	</div>
</div>

<style is:global>
	.img-container-outer {
		--home-image-inset: 2rem;

		position: relative;
		width: 100%;
		height: 100%;
		transition: all 0.5s ease;

		&:hover {
			.img-container {
				img.me {
					--home-me-grayscale: 0.2;
					--home-me-opacity: 0.9;
				}
			}
		}
		.corner {
			position: absolute;
			width: 35px;
			transition: all 0.5s;

			&.tl {
				rotate: 270deg;
				top: 0;
				left: 0;
			}
			&.tr {
				top: 0;
				right: 0;
			}
			&.br {
				rotate: 90deg;
				bottom: 0;
				right: 0;
			}
			&.bl {
				rotate: 180deg;
				bottom: 0;
				left: 0;
			}
		}
		.img-container {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: var(--home-image-inset);
			position: relative;

			.me-distort {
				--home-scroll-blur: 0px;
				width: 100%;
				height: 100%;
				display: block;
				filter: url(#home-scroll-distort);
				will-change: filter;
			}

			img.me {
				width: 100%;
				height: 100%;
				--home-me-grayscale: 0.75;
				--home-me-opacity: 0.8;
				opacity: var(--home-me-opacity);
				filter: grayscale(var(--home-me-grayscale)) blur(var(--home-scroll-blur));
				user-select: none;
				object-fit: cover;
				border-radius: 0.25rem;
				transition:
					filter 0.25s ease,
					opacity 0.25s ease;
				will-change: filter;
			}
		}

		&:hover {
			.corner {
				&.tl {
					top: -5px;
					left: -5px;
				}
				&.tr {
					top: -5px;
					right: -5px;
				}
				&.br {
					bottom: -5px;
					right: -5px;
				}
				&.bl {
					bottom: -5px;
					left: -5px;
				}
			}
		}
	}

	@media screen and (max-width: 1280px) {
		.img-container-outer .corner {
			display: none;
		}
		.img-container-outer img.me {
			border-radius: 0;
		}
	}

	@media screen and (max-width: 767px) {
	}

	@media (prefers-reduced-motion: reduce) {
		#home .me-distort {
			filter: none;
			transform: none;
		}
	}
</style>
