---
import MobileMenu from 'components/MobileNav/MobileMenu.astro';
---

<div id="mobile-nav">
	<button id="menu-btn" class="closed">[ menu ]</button>

	<MobileMenu />
</div>
<style is:global>
	#menu-btn,
	#work-back-btn-mobile,
	#work-scroll-msg-mobile,
	#work-help-msg-mobile {
		display: none;
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 1000;
		font-size: 26px;
	}
	@media (max-width: 1023px) {
		#menu-btn,
		#work-back-btn-mobile,
		#work-scroll-msg-mobile,
		#work-help-msg-mobile {
			display: block;
		}
		#work-scroll-msg-mobile,
		#work-help-msg-mobile {
			left: 1rem;
			top: 20px;
			font-size: 20px;
			letter-spacing: 0.15rem;
			display: flex;
			align-items: center;
			gap: 1.25rem;
		}
		#work-help-msg-mobile::before {
			content: '';
			display: inline-block;
			width: 6px;
			height: 6px;
			background: white;
			margin-top: 4px;
			animation: spin 4s infinite linear;
		}
	}
	@media (max-width: 767px) {
		#menu-btn {
		}
	}
	@media (max-width: 1023px) {
		#mobile-nav {
			display: block;
		}
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', (e) => {
		const btn = document.querySelector('#menu-btn')!;
		const menu = document.querySelector('#mobile-menu')!;

		btn.addEventListener('mousedown', () => {
			e.stopPropagation();
			e.stopImmediatePropagation();
			if (btn.classList.contains('open')) {
				btn.textContent = '[ menu ]';
				btn.classList.replace('open', 'closed');
				menu.classList.replace('open', 'closed');
			} else {
				btn.textContent = '[ close ]';
				btn.classList.replace('closed', 'open');
				menu.classList.replace('closed', 'open');
			}
		});
	});
</script>
