a {
	color: inherit;
	text-decoration: underline;
}
p {
	margin: 0px;
}
.page {
	z-index: 0;
	position: absolute;
}
.main {
	opacity: 1;
	width: 100%;
	height: 100%;
	display: flex;
}
.main-col {
	width: 50%;
	height: 100%;
}
.main-img-list {
	width: 16em;
	height: 22em;
	position: relative;
}
.main-img-item {
	z-index: 1;
	width: 100%;
	height: 100%;
	position: absolute;
}
.image {
	object-fit: cover;
	border-radius: 0.5em;
	width: 100%;
	height: 100%;
}
.project-list {
	position: absolute;
	flex-flow: column;
	align-items: flex-start;
	padding: 0;
	display: flex;
	gap: 1rem;
	bottom: 0;
}
.project-list-item {
	justify-content: flex-start;
	align-items: center;
	transition: opacity 0.2s;
	display: flex;
	position: relative;
	cursor: pointer;
}
.main-title {
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;
	letter-spacing: -0.03em;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	font-weight: 500;
}
.project-list:hover:has(.project-list-item:hover) .project-list-item:not(:hover) {
	opacity: 0.45;
}
.main-title::after {
	position: absolute;
	content: '';
	top: 60%;
	left: -0.5em;
	width: 0.75em;
	height: 0.15em;
	background: currentColor;
	opacity: 0;
	transition: all 0.525s cubic-bezier(0.65, 0.05, 0, 1);
	transform: translate(100%, 0%) scale(0);
	animation: spin 4s infinite linear;
}
.project-list-item:hover .main-title::after {
	transform: translate(0%, 0%) scale(1);
	opacity: 1;
	width: 0.15em;
}
.button {
	background-color: transparent;
	border: none;
	padding: 0;
}
.button.text {
	transition: opacity 0.2s;
}
.button.text:hover {
	opacity: 0.7;
}
.overlay-wrap {
	z-index: 2;
	pointer-events: none;
	padding-top: 6em;
	position: absolute;
	inset: 0%;
}
.overlay-item {
	z-index: 1;
	pointer-events: auto;
	padding-bottom: 16em;
	display: none;
	position: relative;
}
.overlay-item.active {
	display: block;
}
.overlay-hero {
	grid-column-gap: 5em;
	grid-row-gap: 5em;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 7.5em;
	display: flex;
}
.overlay-title__wrap {
	text-align: center;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 8em;
	display: flex;
	position: relative;
}
.overlay-title__wrap .main-title {
	position: absolute;
	font-size: 8em;
}
.overlay-img__wrap {
	width: 42em;
	height: 64em;
}
.overlay-row {
	justify-content: space-between;
	align-items: center;
	padding-left: 6em;
	display: flex;
}
.overlay-col {
	grid-column-gap: 2em;
	grid-row-gap: 2em;
	flex-flow: column;
	display: flex;
}
.overlay-col.col-left {
	max-width: 26em;
	transform: translate(0, 50%);
}
.overlay-col.col-right {
	max-width: 35em;
}
.overlay-col__img {
	height: 26em;
}
.paragraph {
	text-indent: 4em;
	margin-bottom: 0;
	font-size: 1.25em;
	line-height: 1.25;
}
.overlay-nav {
	z-index: 999;
	pointer-events: auto;
	justify-content: space-between;
	align-items: flex-end;
	display: none;
	position: absolute;
	inset: auto 0% 0%;
	overflow: hidden;
	color: white;

	button:hover {
		color: var(--main-200);
	}
	p {
		margin-bottom: 0;
		font-size: 1.125em;
		line-height: 1.25;
	}
}
#work-intro {
	position: absolute;
	right: 0;
	padding-top: 8rem;
	text-align: right;
	margin-left: auto;
}
.work-intro-line {
	overflow: hidden;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media screen and (min-width: 1024px) {
	#work {
		.main-title {
			font-size: clamp(3.5rem, 5vw, 4.5rem);
		}
		#work-intro {
			font-size: 22px;
			width: 475px;
		}
		.page {
			inset: 6rem 4rem 4rem 4rem;
		}
	}
}
@media screen and (max-width: 1023px) {
	#work {
		.main {
			flex-flow: wrap;
		}
		.main-col {
			width: 100%;
			height: auto;
		}
		.project-list {
			margin-top: 0;
		}
		#work-intro {
			font-size: 22px;
			width: 275px;
		}
		.main-title {
			font-size: 4rem;
		}
		.page {
			inset: 6rem 2rem 4rem 2rem;
		}
	}
}
@media screen and (max-width: 767px) {
	#work {
		.page {
			inset: 5rem 1rem 4rem 1rem;
		}
		#work-intro {
			display: none;
		}
		.main-title {
			font-size: min(10vw, 3.5rem);
		}
		.project-list {
			gap: 0.5rem;
		}
	}
}
