---
import Project from 'sections/work/Project.astro';
import ByTheSea from 'sections/work/projects/ByTheSea.astro';
import MVD from 'sections/work/projects/MVD.astro';
import Syfr from 'sections/work/projects/Syfr.astro';
---

<div id="project-overlay">
	<div data-overlay="text-target" class="overlay-title-wrap"></div>
	<div data-overlay="img-target" class="overlay-img-wrap"></div>

	<Project id="syfr">
		<Syfr />
	</Project>
	<!-- <Project id="btsm">
		<ByTheSea />
	</Project>
	<Project id="mvdc">
		<MVD />
	</Project> -->
</div>

<style is:global>
	.overlay-closed {
		#project-overlay {
			pointer-events: none;
			opacity: 0;
		}
	}
	#project-overlay {
		position: absolute;
		z-index: 2;
		inset: 0%;

		#proj-btsm-header {
			color: var(--btsm-bg-700);
		}
	}
	.overlay-title-wrap {
		text-align: center;
		flex-flow: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 8em;
		display: flex;
		position: relative;
	}
	.overlay-img-wrap {
		display: flex;
		justify-content: center;
		img {
			margin-top: 4rem;
		}
	}

	.overlay-nav {
		z-index: 999;
		pointer-events: auto;
		justify-content: space-between;
		align-items: flex-end;
		display: none;
		position: absolute;
		inset: auto 0% 0%;
		overflow: hidden;
		color: white;

		button:hover {
			color: var(--main-200);
		}
	}
	#project-overlay {
		@media screen and (min-width: 1024px) {
			padding: 6rem 2rem;
		}
		@media screen and (max-width: 1023px) {
			padding: 6rem 0.5rem;
		}
		@media screen and (max-width: 767px) {
			.overlay-title-wrap {
				height: 4rem;
			}
		}
	}
</style>
