---
import Project from 'sections/work/Project.astro';
import ByTheSea from 'sections/work/projects/ByTheSea.astro';
import MVD from 'sections/work/projects/MVD.astro';
import Syfr from 'sections/work/projects/Syfr.astro';
---

<div class="overlay-wrap">
	<Project id="syfr">
		<Syfr />
	</Project>
	<Project id="btsm">
		<ByTheSea />
	</Project>
	<Project id="mvdc">
		<MVD />
	</Project>

	<div class="overlay-nav" style="display: none;">
		<button data-overlay="close" class="button text">
			<p data-overlay="nav-item" class="text-reg" style="translate: none; rotate: none; scale: none">Back to list</p>
		</button>
		<p data-overlay="nav-item" class="text-reg" style="translate: none; rotate: none; scale: none;">
			Scroll to explore
		</p>
	</div>
</div>
