<ul class="proj-list">
	<li class="proj-list-item selected" data-proj-id="syfr">
		<button class="button">
			<h3 class="proj-title" id="proj-syfr-header">syfr.studio</h3>
		</button>
	</li>
	<li class="proj-list-item" data-proj-id="btsm">
		<button class="button">
			<h3 class="proj-title" id="proj-btsm-header">by the sea massage</h3>
		</button>
	</li>
	<li class="proj-list-item" data-proj-id="mvdc">
		<button class="button">
			<h3 class="proj-title">matthewvandoff.com</h3>
		</button>
	</li>
</ul>
<style>
	.proj-list {
		width: fit-content;
		position: relative;
		flex-flow: column;
		align-items: flex-start;
		padding: 0rem 4rem;
		display: flex;
		gap: 1rem;
		bottom: 0;
	}
	.proj-list-item {
		justify-content: flex-start;
		align-items: center;
		transition: opacity 0.2s;
		display: flex;
		position: relative;
		cursor: pointer;
	}
	.button {
		background-color: transparent;
		border: none;
		padding: 0;
	}
	.button.text {
		transition: opacity 0.2s;
	}
	.button.text:hover {
		opacity: 0.7;
	}
	.proj-title {
		margin-top: 0;
		margin-bottom: 0;
		letter-spacing: -0.03em;
		line-height: 1;
		white-space: nowrap;
		cursor: pointer;
	}
</style>
<style is:global>
	#work.overlay-open {
		.proj-title {
			pointer-events: none;
		}
	}
	@media screen and (min-width: 1024px) {
		.proj-title {
			font-size: clamp(3rem, 4.75vw, 5rem);
		}
		.proj-list-item:not(.selected) {
			opacity: 0.45;
		}
		.overlay-title-wrap {
			.proj-title {
				font-size: 120px;
			}
		}
		.proj-title::after {
			position: absolute;
			content: '';
			top: 60%;
			left: -0.5em;
			width: 0.75em;
			height: 0.15em;
			background: currentColor;
			opacity: 0;
			transition: all 0.525s cubic-bezier(0.65, 0.05, 0, 1);
			animation: spin 4s infinite linear;
		}
		.proj-list-item:hover .proj-title::after,
		.proj-list-item.selected .proj-title::after {
			opacity: 1;
			width: 0.15em;
		}
	}

	@media screen and (min-width: 1024px) {
	}
	@media screen and (max-width: 1023px) {
		#work {
			.proj-list {
				gap: 3.5rem;
				position: relative;
				padding: 4rem;
			}
			.proj-title {
				font-size: 4rem;
			}
			.overlay-title-wrap {
				.proj-title {
					font-size: 80px;
				}
			}
		}
	}
	@media screen and (max-width: 767px) {
		#work {
			.proj-list {
				padding: 4rem 8vw;
				width: 100%;
				border-left: 0;
				border-right: 0;
				gap: 2.5rem;
			}
			.proj-title {
				font-size: min(9.5vw, 3.5rem);
			}
			.overlay-title-wrap {
				.proj-title {
					font-size: 10vw;
				}
			}
		}
	}
</style>
