<div class="main-img-list">
	<div class="main-img-item" style="opacity: 1; visibility: inherit;">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f44_tobias-reich-AwqQch2wAmM-unsplash.avif"
			loading="lazy"
			class="image"
			data-flip-id="auto-2"
			style=""
		/>
	</div>
	<div class="main-img-item" style="opacity: 0; visibility: hidden;">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f82_massimiliano-morosinotto-oJmVzkVStoo-unsplash.avif"
			loading="lazy"
			class="image"
		/>
	</div>
	<div class="main-img-item" style="opacity: 0; visibility: hidden;">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f6d_karsten-winegeart-9CTqIV6kPQ0-unsplash.avif"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
