---
const { id } = Astro.props;
---

<div class="overlay-item proj-container" id={`proj-${id}`}>
	<slot />
</div>

<style>
	.overlay-item {
		z-index: 1;
		pointer-events: auto;
		padding-bottom: 16em;
		display: none;
		position: relative;
	}
	.overlay-item.active {
		display: block;
	}
</style>
