<ul class="project-list">
	<li class="main-title-item" data-proj-id="syfr">
		<button class="button">
			<h3
				class="main-title"
				data-flip-id="auto-1"
				style="visibility: inherit; opacity: 1; transform: translate(0px, 0px);"
			>
				syfr.studio
			</h3>
		</button>
	</li>
	<li class="main-title-item" data-proj-id="btsm">
		<button class="button">
			<h3
				class="main-title"
				style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
			>
				by the sea massage
			</h3>
		</button>
	</li>
	<li class="main-title-item" data-proj-id="mvdc">
		<button class="button">
			<h3
				class="main-title"
				style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
			>
				matthewvandoff.com
			</h3>
		</button>
	</li>
</ul>

<style is:global>
	.overlay-open {
		li {
			pointer-events: none;
		}
	}
</style>
