---
import { Image } from 'astro:assets';
import syfrInterface from 'assets/images/syfr-interface.png';
import btsm from 'assets/images/btsm.png';
import mvdc from 'assets/images/mvdc.png';
---

<div class="main-img-item" style="display: block;">
	<Image src={syfrInterface} alt="syfr interface" id="syfr-interface-img" class="proj-img" />
</div>
<div class="main-img-item" style="display: none;">
	<Image src={btsm} alt="by the sea massage website screenshot" id="btsm-img" class="proj-img" />
</div>
<div class="main-img-item" style="display: none;">
	<Image src={mvdc} alt="matthewvandoff.com website screenshot" id="mvdc-img" class="proj-img" />
</div>
<style is:global>
	/* Dont nest this, since it moves to a new container */
	.proj-img {
		border-radius: 0.75em;
		object-fit: scale-down;
		width: 100%;
		height: auto;
		max-height: 50vh;
	}
	.main-img-item {
		z-index: 1;
	}
	.overlay-img-wrap {
		#syfr-interface-img,
		#btsm-img,
		#mvdc-img {
			max-height: none;
		}
	}
	@media screen and (max-width: 1023px) {
		.main-img-item {
			max-width: 100%;
		}
	}
	@media screen and (max-width: 767px) {
		.main-img-item {
			display: flex;
			justify-content: center;
		}
	}
</style>
