<div class="overlay-item" style="opacity: 110; visibility: inherit; display: none;">
	<div class="overlay-hero">
		<div data-overlay="text-target" class="overlay-title__wrap"></div>
		<div data-overlay="img-target" class="overlay-img__wrap"></div>
	</div>
	<div class="overlay-row" style="opacity: 0; visibility: hidden;">
		<slot />
	</div>
</div>
