---
import Overlay from 'sections/work/Overlay.astro';
import ProjectList from 'sections/work/ProjectList.astro';
import './gallery.css';
---

<section class="section-resource" id="work">
	<div class="page">
		<div class="main">
			<div class="main-col">
				<div class="main-img-list">
					<div class="main-img-item" style="opacity: 1; visibility: inherit;">
						<img
							alt=""
							src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f44_tobias-reich-AwqQch2wAmM-unsplash.avif"
							loading="lazy"
							class="image"
							data-flip-id="auto-2"
							style=""
						/>
					</div>
					<div class="main-img-item" style="opacity: 0; visibility: hidden;">
						<img
							alt=""
							src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f82_massimiliano-morosinotto-oJmVzkVStoo-unsplash.avif"
							loading="lazy"
							class="image"
						/>
					</div>
					<div class="main-img-item" style="opacity: 0; visibility: hidden;">
						<img
							alt=""
							src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f6d_karsten-winegeart-9CTqIV6kPQ0-unsplash.avif"
							loading="lazy"
							class="image"
						/>
					</div>
				</div>
			</div>
			<div class="main-col">
				<p id="work-intro">
					Below is some of the work I have completed outside of my full time employment. Select a project to learn more
					about it.
				</p>

				<ProjectList />
			</div>
		</div>

		<Overlay />
	</div>
</section>
<script>
	import { gsap } from 'gsap';
	import { CustomEase } from 'gsap/CustomEase';
	import { Flip } from 'gsap/Flip';
	import { initGalleryOverlayTransitionFlip } from 'sections/work/gallery';

	document.addEventListener('DOMContentLoaded', () => {
		gsap.registerPlugin(CustomEase, Flip);
		CustomEase.create('osmo-ease', '0.625, 0.05, 0, 1');

		gsap.defaults({
			ease: 'osmo-ease',
			duration: 0.725,
		});

		initGalleryOverlayTransitionFlip();
	});
</script>
