---
import './gallery.css';
---

<section class="section-resource is--dark unset-height" id="work">
	<div class="page">
		<div class="main">
			<div class="main-col">
				<div class="main-img__list">
					<div class="main-img__item" style="opacity: 1; visibility: inherit;">
						<img
							alt=""
							src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f44_tobias-reich-AwqQch2wAmM-unsplash.avif"
							loading="lazy"
							class="image"
							data-flip-id="auto-2"
							style=""
						/>
					</div>
					<div class="main-img__item" style="opacity: 0; visibility: hidden;">
						<img
							alt=""
							src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f82_massimiliano-morosinotto-oJmVzkVStoo-unsplash.avif"
							loading="lazy"
							class="image"
						/>
					</div>
				</div>
			</div>
			<div class="main-col">
				<p id="work-intro">
					Below is some of the work I have completed outside of my full time employment. Select one of the projects
					listed below to learn more about it.
				</p>
				<ul class="project-list">
					<li class="main-title__item">
						<button class="button">
							<h3
								class="main-title"
								data-flip-id="auto-1"
								style="visibility: inherit; opacity: 1; transform: translate(0px, 0px);"
							>
								Syfr Studio
							</h3>
						</button>
					</li>
					<li class="main-title__item">
						<button class="button">
							<h3
								class="main-title"
								style="translate: none; rotate: none; scale: none; opacity: 1; visibility: inherit; transform: translate(0px, 0px);"
							>
								By the Sea Massage
							</h3>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="overlay-wrap">
			<div class="overlay-item" style="opacity: 110; visibility: inherit; display: none;">
				<div class="overlay-hero">
					<div data-overlay="text-target" class="overlay-title__wrap"></div>
					<div data-overlay="img-target" class="overlay-img__wrap"></div>
				</div>
				<div class="overlay-row" style="opacity: 0; visibility: hidden;">
					<div class="overlay-col col-left">
						<div class="overlay-col__img">
							<img
								alt=""
								src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f58_tobias-reich-VltYe88rkt8-unsplash.avif"
								loading="lazy"
								class="image"
							/>
						</div>
					</div>
					<div class="overlay-col col-right">
						<div class="overlay-col__img">
							<img
								alt=""
								src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f77_tobias-reich-wr6m4OOZZtw-unsplash.avif"
								loading="lazy"
								class="image"
							/>
						</div>
						<p class="paragraph">
							A sophisticated getaway with modern architecture and unforgettable sunsets, where every moment feels
							timeless.
						</p>
					</div>
				</div>
			</div>
			<div class="overlay-item">
				<div class="overlay-hero">
					<div data-overlay="text-target" class="overlay-title__wrap"></div>
					<div data-overlay="img-target" class="overlay-img__wrap"></div>
				</div>
				<div class="overlay-row">
					<div class="overlay-col col-left">
						<div class="overlay-col__img">
							<img
								alt=""
								src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f89_eberhard-grossgasteiger-UclnVUmf5aQ-unsplash.jpg"
								loading="lazy"
								class="image"
							/>
						</div>
					</div>
					<div class="overlay-col col-right">
						<div class="overlay-col__img">
							<img
								alt=""
								src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f90_filippo-fFh53mf_6iE-unsplash.jpg"
								loading="lazy"
								class="image"
							/>
						</div>
						<p class="paragraph">
							Tucked among towering peaks and serene valleys, this haven offers a peaceful escape from the noise of the
							world.
						</p>
					</div>
				</div>
			</div>
			<div class="overlay-nav" style="display: none;">
				<button data-overlay="close" class="button text">
					<p data-overlay="nav-item" class="text-reg" style="translate: none; rotate: none; scale: none">
						Back to list
					</p>
				</button>
				<p data-overlay="nav-item" class="text-reg" style="translate: none; rotate: none; scale: none;">
					Scroll to explore
				</p>
			</div>
		</div>
	</div>
</section>
<style>
	#work-intro {
		font-size: 22px;
		width: 550px;
		padding-top: 8rem;
	}
	.work-intro-line {
		overflow: hidden;
	}
</style>
<script>
	import { gsap } from 'gsap';
	import { CustomEase } from 'gsap/CustomEase';
	import { Flip } from 'gsap/Flip';
	import { initGalleryOverlayTransitionFlip } from 'sections/work/gallery';

	document.addEventListener('DOMContentLoaded', () => {
		gsap.registerPlugin(CustomEase, Flip);
		CustomEase.create('osmo-ease', '0.625, 0.05, 0, 1');

		gsap.defaults({
			ease: 'osmo-ease',
			duration: 0.725,
		});

		initGalleryOverlayTransitionFlip();
	});
</script>
