---
import Overlay from 'sections/work/Overlay.astro';
import ProjectList from 'sections/work/ProjectList.astro';
import ProjectImageList from 'sections/work/ProjectImageList.astro';
---

<section class="overlay-closed" id="work">
	<div class="main">
		<p id="work-intro">
			Below is some of the work I have completed outside of my full time employment. Select a project to learn more
			about it.
		</p>
		<div class="main-col img-col">
			<ProjectImageList />
		</div>
		<div class="main-col proj-col">
			<ProjectList />
		</div>
	</div>

	<!-- <Overlay /> -->
</section>

<style is:global>
	#work {
		/* background-color: black; */
		transition: background 1s ease;

		.main {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 6rem 4rem;
			position: relative;
			display: flex;
		}
		.main-col {
			width: 50%;
			height: 100%;
		}
		.proj-col {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}
		#work-intro {
			position: absolute;
			right: 4rem;
			padding-top: 6rem;
			text-align: right;
			margin-left: auto;
		}
		.main-img-item {
			z-index: 1;
			position: absolute;

			img {
				object-fit: cover;
				border-radius: 0.5em;
				/* width: 50px; */
				height: 45vh;
			}
		}
		.project-list {
			/* position: absolute; */
			flex-flow: column;
			align-items: flex-start;
			padding: 0;
			display: flex;
			gap: 1rem;
			bottom: 0;
		}
		.project-list-item {
			justify-content: flex-start;
			align-items: center;
			transition: opacity 0.2s;
			display: flex;
			position: relative;
			cursor: pointer;
		}
		.main-title {
			margin-top: 0;
			margin-bottom: 0;
			color: #fff;
			letter-spacing: -0.03em;
			line-height: 1;
			white-space: nowrap;
			cursor: pointer;
			font-weight: 500;
		}
		.project-list:hover:has(.project-list-item:hover) .project-list-item:not(:hover) {
			opacity: 0.45;
		}
		.main-title::after {
			position: absolute;
			content: '';
			top: 60%;
			left: -0.5em;
			width: 0.75em;
			height: 0.15em;
			background: currentColor;
			opacity: 0;
			transition: all 0.525s cubic-bezier(0.65, 0.05, 0, 1);
			/* transform: translate(100%, 0%) scale(0); */
			animation: spin 4s infinite linear;
		}
		.project-list-item:hover .main-title::after {
			/* transform: translate(0%, 0%) scale(1); */
			opacity: 1;
			width: 0.15em;
		}
		.button {
			background-color: transparent;
			border: none;
			padding: 0;
		}
		.button.text {
			transition: opacity 0.2s;
		}
		.button.text:hover {
			opacity: 0.7;
		}

		@media screen and (min-width: 1024px) {
			.main-title {
				font-size: clamp(3.5rem, 5vw, 4.5rem);
			}
			#work-intro {
				font-size: 22px;
				width: 475px;
			}
		}
		@media screen and (max-width: 1023px) {
			.main {
				padding: 2rem;
				flex-direction: column;
			}
			.proj-col {
				padding-bottom: 1rem;
			}
			#work-intro {
				font-size: 22px;
				width: 375px;
			}
			.main-title {
				font-size: 4rem;
			}
		}
		@media screen and (max-width: 767px) {
			#work-intro {
				display: none;
			}
			.main-title {
				font-size: min(10vw, 3.5rem);
			}
			.project-list {
				width: 100%;
				margin: 0 auto;
			}
			.main-img-list {
				margin: 0 auto;
			}
			.img-col {
				padding-top: 3rem;
			}
		}
	}
</style>

<script>
	import { gsap } from 'gsap';
	import { CustomEase } from 'gsap/CustomEase';
	import { Flip } from 'gsap/Flip';
	import { initGalleryOverlayTransitionFlip } from 'sections/work/scripts/gallery';

	document.addEventListener('DOMContentLoaded', () => {
		gsap.registerPlugin(CustomEase, Flip);
		CustomEase.create('osmo-ease', '0.625, 0.05, 0, 1');

		gsap.defaults({
			ease: 'osmo-ease',
			duration: 0.725,
		});
		initGalleryOverlayTransitionFlip();
	});
</script>
