---
const { pathname } = Astro.url;
---

<nav>
	<span class="nav-row">
		<a href="#" class={pathname === '/' ? 'selected' : ''} }>[ home ]</a>
		<a href="#">[ work ]</a>
	</span>
	<span class="nav-row">
		<a href="#">[ about ]</a>
		<a href="#">[ contact ]</a>
	</span>
</nav>

<style>
	nav {
		box-sizing: border-box;
		height: 100vh;
		width: 100vw;
		max-width: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;

		.nav-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		a {
			transition: all 1s ease;
			&:hover {
				letter-spacing: 0.2rem;
				/* margin-right: 2%; */
			}
			&.selected {
				color: var(--main-200);
			}
		}
	}
</style>
