@media screen and (max-width: 1280px) {
	:root {
		--mobile-nav-height: 48px;
		--full-width: calc(round(down, 100vw, var(--block-size)) - (var(--block-size) * 2));
		--total-blocks: round(up, calc(100vw / var(--block-size)));
		--home-image-inset: 0 !important;
		--grid-gap: 12px;
		--home-border-radius: 4px;
	}

	#mobile-nav {
		height: var(--mobile-nav-height);
		margin: 0 auto;
	}
}
