@media screen and (max-width: 1280px) {
	.screen-hero .left-image-layer {
		grid-column: 3 / -1;
		grid-row: 1 / 12;
	}
	.screen-hero .intro-container {
		grid-column: 3 / -1;
		grid-row: 13 / 26;
	}
	#mb-liquid-tile {
		grid-column: 1 / 2;
		grid-row: 1 / 26;
	}
	#mb-scroll-tile {
		grid-column: -4 / -1;
		grid-row: 27 / -1;
	}
	.mb-social-link[data-brand='li'] {
		grid-column: 1 / span 5;
		grid-row: 27 / span 5;
	}
	.mb-social-link[data-brand='gh'] {
		grid-column: 7 / span 5;
		grid-row: 27 / span 5;
	}
	#mb-logo-tile {
		grid-column: 9 / span 7;
		grid-row: 33 / span 6;
	}
	#mb-gif-tile {
		grid-column: 1 / span 7;
		grid-row: 33 / span 6;
		/* display: none !important; */
	}
	#mb-color-tile {
		grid-column: 19 / span 4;
		grid-row: 27 / span 5;
		/* display: none !important; */
	}
	#joystick-tile {
		grid-column: 17 / span 6;
		grid-row: 33 / span 6;
		/* display: none !important; */
	}
	#mb-work-tile {
		grid-column: 13 / span 5;
		grid-row: 27 / span 5;
	}
	#mb-down-tile {
		grid-column: -3 / span 2;
		grid-row: 38 / span 2;
		display: none !important;
	}
	#img-tile {
		grid-column: 19 / span 4;
		grid-row: 27 / span 10;
		display: none !important;
	}
	#mb-copy-tile {
		grid-column: 1 / -4;
		grid-row: 38 / span 2;
		display: none !important;
	}
}
