@media screen and (max-width: 1280px) {
	.screen-hero .left-image-layer {
		grid-column: 3 / -1;
		grid-row: 1 / 12;
	}
	.screen-hero .intro-container {
		grid-column: 3 / -1;
		grid-row: 13 / 26;
	}
	#mb-liquid-tile {
		grid-column: 1 / 2;
		grid-row: 1 / -4;
	}
	:root {
		--btn-grid-col-start: 3;
		--btn-grid-col-step: 6;
		--btn-grid-col-span: 5;
		--btn-grid-row-start: 27;
		--btn-grid-row-step: 6;
		--btn-grid-row-span: 5;
	}

	#li-btn,
	#gh-btn,
	#work-btn,
	#mb-color-tile,
	#mb-gif-tile,
	#about-tile,
	#joystick-tile {
		--btn-grid-col-slot: 1;
		--btn-grid-row-slot: 1;
		--btn-grid-col-span-override: var(--btn-grid-col-span);
		--btn-grid-row-span-override: var(--btn-grid-row-span);
		grid-column: calc(var(--btn-grid-col-start) + (var(--btn-grid-col-slot) - 1) * var(--btn-grid-col-step)) / span
			var(--btn-grid-col-span-override);
		grid-row: calc(var(--btn-grid-row-start) + (var(--btn-grid-row-slot) - 1) * var(--btn-grid-row-step)) / span
			var(--btn-grid-row-span-override);
	}

	#li-btn {
		--btn-grid-col-slot: 1;
		--btn-grid-row-slot: 1;
	}
	#gh-btn {
		--btn-grid-col-slot: 2;
		--btn-grid-row-slot: 1;
	}
	#work-btn {
		--btn-grid-col-slot: 3;
		--btn-grid-row-slot: 1;
	}
	#mb-color-tile {
		--btn-grid-col-slot: 3;
		--btn-grid-row-slot: 2;
	}
	#mb-gif-tile {
		--btn-grid-col-slot: 4;
		--btn-grid-row-slot: 1;
		--btn-grid-col-span-override: 4;
		--btn-grid-row-span-override: 11;
		display: none !important;
	}
	#about-tile {
		--btn-grid-col-slot: 1;
		--btn-grid-row-slot: 2;
	}
	#joystick-tile {
		--btn-grid-col-slot: 2;
		--btn-grid-row-slot: 2;
	}
	/* #mb-logo-tile {
		grid-column: 9 / span 7;
		grid-row: 33 / span 6;
	} */
}
