@media screen and (max-width: 1280px) {
	.screen-hero .left-image-layer {
		grid-column: 3 / -1;
		grid-row: 1 / 12;
	}
	.screen-hero .intro-container {
		grid-column: 3 / -1;
		grid-row: 13 / 26;
	}
	#mb-side-rail {
		grid-column: 1 / 2;
		grid-row: 1 / 38;
	}
	#mb-side-rail-2 {
		grid-column: 1 / 2;
		grid-row: 27 / span 11;
		display: none;
	}

	/* Tile Grid */
	#li-btn {
		grid-column: -18 / span 5;
		grid-row: 27 / span 5;
	}
	#gh-btn {
		grid-column: -12 / span 5;
		grid-row: 27 / span 5;
	}
	#work-btn {
		grid-column: -12 / span 5;
		grid-row: 33 / span 5;
		/* grid-column: -6 / span 5;
		grid-row: 27 / span 5; */
	}
	#about-tile {
		grid-column: -18 / span 5;
		grid-row: 33 / span 5;
	}
	#joystick-tile {
		grid-column: -6 / span 5;
		grid-row: 33 / span 5;
	}
	#mb-color-tile {
		grid-column: -6 / span 5;
		grid-row: 27 / span 5;
	}

	#mb-gif-tile {
		grid-column: 3 / span round(down, calc((100vw - (var(--block-size) * 22)) / var(--block-size)));
		grid-row: 27 / 38;
	}
}
