---
import './dot-grid.css';
---

<section id="hero">
	<div class="section-dots">
		<div class="section-dots__wrap">
			<div data-dots-container-init="" class="dots-container">
				<div class="dot"></div>
			</div>
		</div>
	</div>
	<div class="attribute-wrapper">
		<h1>matthew van doff</h1>
		<h2 data-scramble="sandwich artist">software developer</h2>
		<h2 data-scramble="breaker">tinkerer</h2>
		<h2 data-scramble="grumpy sometimes">good guy</h2>
	</div>
</section>

<style>
	#hero {
		height: 100vh;
		position: relative;

		.attribute-wrapper {
			position: absolute;
			right: 10vw;
			bottom: 22vh;
			display: flex;
			flex-direction: column;
			align-items: end;
		}
		h1,
		h2 {
			font-size: 50px;
			display: block;
			padding: 0.5rem 1rem;
			margin: 0;
			width: max-content;
			z-index: 99;
			background: rgb(0 0 10 / 0.25);
		}
		h1 {
			margin-bottom: 0.5rem;
			color: var(--main-200);
		}
		h2 {
			user-select: none;
			&:hover {
				color: var(--main-200);
			}
		}
		a {
			color: white;
		}
	}
</style>
