---
import './dot-grid.css';
---

<section id="hero">
	<div class="section-dots">
		<div class="section-dots__wrap">
			<div data-dots-container-init="" class="dots-container">
				<div class="dot"></div>
			</div>
		</div>
	</div>
	<div class="attribute-wrapper">
		<h1>matthew van doff</h1>
		<h2 data-scramble="sandwich artist">software developer</h2>
		<h2 data-scramble="breaker">tinkerer</h2>
		<h2 data-scramble="grumpy sometimes">good guy</h2>
	</div>
</section>

<style>
	#hero {
		height: 100svh;
		position: relative;

		.attribute-wrapper {
			position: absolute;
			right: 8vw;
			bottom: 22svh;
			display: flex;
			flex-direction: column;
			align-items: end;
		}
	}
</style>
