.right {
	width: 100%;

	h3 {
		color: var(--neutral-200);
		margin: 0;
		font-size: 22px;
	}
	.home-h3-container {
		height: var(--block-size);
		width: 100%;
		display: flex;
		align-items: center;
	}
	.blurbs {
		display: flex;
		flex-direction: column;
	}
}
