---
import { Icon } from 'astro-icon/components';
---

<button id="mb-color-tile" class="mb-tile mb-tile-surface" type="button">
	<Icon name="f7:paintbrush-fill" aria-hidden="true" />
</button>
<script>
	import iro from '@jaames/iro';

	document.addEventListener('DOMContentLoaded', () => {
		const tile = document.getElementById('mb-color-tile');
	});
</script>
<style>
	#mb-color-tile {
		--mb-tile-linear-start: transparent;
		--mb-tile-linear-end: #1e1b4b64;

		display: flex;
		font-size: 32px;
		justify-content: center;
		align-items: center;
		color: var(--neutral-300);
		position: relative;

		svg {
			rotate: 0deg;
		}

		&::after {
			content: '';
			position: absolute;
			width: 8px;
			height: 8px;
			background: var(--main-500);
			border-radius: 100%;
			top: 8px;
			right: 8px;
			z-index: 99;
		}
	}
</style>
