---
import { Icon } from 'astro-icon/components';
---

<button id="mb-color-tile" class="mb-tile" type="button">
	<Icon name="f7:paintbrush-fill" aria-hidden="true" />
</button>
<script>
	import iro from '@jaames/iro';

	document.addEventListener('DOMContentLoaded', () => {
		const tile = document.getElementById('mb-color-tile');
	});
</script>
<style>
	#mb-color-tile {
		/* display: none; */
		display: flex;
		border: 1px solid rgba(255, 68, 0, 0.378);
		border-radius: var(--home-border-radius);
		font-size: 32px;
		justify-content: center;
		align-items: center;
		color: var(--neutral-300);

		/* background-color: var(--main-1k);
		color: var(--main-400); */
	}
</style>
