---
import 'sections/home/styles/desktop/home-about.css';
import Timeline from 'sections/home/components/Timeline.astro';
---

<div id="about" class="screen-about screen" data-mobile-nav-label="home-me">
	<div class="right">
		<div class="home-h3-container">
			<h3 class="home">about</h3>
		</div>
		<div class="blurbs">
			<p class="blurb">
				Hey, I'm Matthew, a human software developer, one of the last of my kind. Thanks for visiting my home on the
				web. Here you can learn a little bit about me and check out some of the projects I've worked on. I hope to
				continue to grow this page by starting a blog and adding more projects in the near future.
			</p>
			<p class="blurb">
				I'm based in the Raleigh-Durham area in North Carolina. I like working with all kinds of software, but I
				specialize in full stack web development. I'm lucky enough to have a beautiful wife and 2 kids. When I'm not
				hanging with my family I like to spend my time making music, studying quantum physics, or building side
				projects.
			</p>
		</div>
		<div class="timeline-slot">
			<Timeline />
		</div>
	</div>
</div>

<style>
	@media screen and (max-width: 1280px) {
		.screen-about .right {
			grid-column: 2 / -2;
			grid-row: 1 / -1;
		}
		.right {
			margin-left: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: calc(var(--block-size) * 0.5);
			padding-right: 0;
			padding-bottom: 0;
			padding-bottom: calc(var(--block-size) * 2);
		}
		.right .home-h3-container,
		.right .blurbs,
		.right .timeline-slot {
			grid-column: auto;
			grid-row: auto;
			height: auto;
		}
		.right .home-h3-container {
			display: none;
		}
		.right h3,
		.right .blurbs .blurb {
			padding-left: 0;
		}
	}
</style>
