---
import 'sections/home/styles/desktop/home-about.css';
import 'sections/home/styles/mobile/mb-home-about.css';
import Timeline from 'sections/home/components/Timeline.astro';
import MobileTimeline from 'sections/home/mobile/MobileTimeline.astro';
---

<div id="about" class="screen-about screen" data-mobile-nav-label="home-me">
	<div class="right">
		<div class="home-h3-container">
			<h3 class="home">about</h3>
		</div>
		<div class="blurbs">
			<p class="blurb">
				Hey what's up? I'm a human software developer, one of the last of my kind. I'm based in the Raleigh-Durham area
				in North Carolina, USA and have been developing professionally for well over 4 years. I like working with all
				kinds of software, but I specialize in full stack web development.
			</p>
			<p class="blurb">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit fringilla lacus id sagittis. Duis
				aliquam, odio vel fermentum iaculis, metus ligula ultricies risus, et sodales metus augue eget nibh. Donec
				dapibus at est ac auctor. Phasellus rutrum scelerisque luctus. Orci varius natoque penatibus et magnis dis
				parturient montes, nascetur ridiculus mus. Cras eu risus eu eros sagittis feugiat a eget metus. Praesent neque
				ex, efficitur at libero aliquet, interdum venenatis nisi.
			</p>
		</div>
		<div class="timeline-slot">
			<Timeline />
		</div>
	</div>
</div>
<!-- <MobileTimeline /> -->
