---
import 'sections/home/styles/desktop/home-about.css';
import Timeline from 'sections/home/components/Timeline.astro';
---

<div id="about" class="screen-about screen" data-mobile-nav-label="home-me">
	<div class="right">
		<div class="home-h3-container">
			<h3 class="home">about</h3>
		</div>
		<div class="blurbs">
			<p class="blurb">
				Hey what's up? I'm a human software developer, one of the last of my kind. I'm based in the Raleigh-Durham area
				in North Carolina, USA and have been developing professionally for well over 4 years. I like working with all
				kinds of software, but I specialize in full stack web development.
			</p>
			<p class="blurb">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit fringilla lacus id sagittis. Duis
				aliquam, odio vel fermentum iaculis, metus ligula ultricies risus, et sodales metus augue eget nibh. Donec
				dapibus at est ac auctor. Phasellus rutrum scelerisque luctus.
			</p>
		</div>
		<div class="timeline-slot">
			<Timeline />
		</div>
	</div>
</div>

<style>
	@media screen and (max-width: 1280px) {
		.screen-about .right {
			grid-column: 2 / -2;
			grid-row: 1 / -1;
		}
		.right {
			margin-left: 0;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: calc(var(--block-size) * 0.5);
			padding-right: 0;
			padding-bottom: 0;
			padding-bottom: calc(var(--block-size) * 2);
		}
		.right .home-h3-container,
		.right .blurbs,
		.right .timeline-slot {
			grid-column: auto;
			grid-row: auto;
			height: auto;
		}
		.right .home-h3-container {
			display: none;
		}
		.right h3,
		.right .blurbs .blurb {
			padding-left: 0;
		}
	}
</style>
