---
import 'sections/home/styles/desktop/home-hero.css';
import 'sections/home/styles/mobile/mb-home-hero.css';
import 'sections/home/styles/mobile/mb-home-hero-grid.css';
import HomeImage from 'sections/home/components/HomeImage.astro';
import ColorTile from 'sections/home/components/ColorTile.astro';
import JoyStickTile from 'sections/home/components/JoyStickTile.astro';
import SocialLink from 'sections/home/components/SocialLink.astro';
import StatusBulb from 'sections/home/components/StatusBulb.astro';
import MVDLogo from 'components/MVDLogo.astro';
import { Icon } from 'astro-icon/components';
import keyboardCat from 'assets/gif/keyboard-cat.gif';
import Button from 'sections/home/components/Button.astro';
---

<div class="screen-hero screen" data-mobile-nav-label="welcome">
	<div class="left-image-layer left-grid">
		<div class="left-image">
			<HomeImage />
		</div>
	</div>
	<div class="left left-grid intro-container">
		<StatusBulb />
		<div class="left-intro">
			<h1>
				matthew <span class="last-name">van&nbsp;doff</span>
			</h1>
			<h2>software developer</h2>
			<p id="headline">Proin quis sem lacus. Vivamus non lorem nulla. Nam vel molestie est.</p>
		</div>

		<div class="left-links links">
			<SocialLink
				href="https://www.linkedin.com/in/matthew-vandoff/"
				icon="fa7-brands:linkedin"
				label="LinkedIn"
				brand="linkedin"
			/>
			<SocialLink href="https://github.com/mvandoff" icon="fa7-brands:github" label="GitHub" brand="github" />
		</div>
	</div>

	<Button
		href="https://www.linkedin.com/in/matthew-vandoff/"
		icon="fa7-brands:linkedin"
		label="LinkedIn"
		focusCorner="se"
		type="external"
		id="li-btn"
	/>
	<Button
		href="https://github.com/mvandoff"
		icon="fa7-brands:github"
		label="GitHub"
		id="gh-btn"
		type="external"
		focusCorner="sw"
	/>
	<Button href="/work" id="work-btn" label="Work" icon="lucide:code-xml" type="internal" focusCorner="se" />

	<div id="mb-liquid-tile" class="mb-tile"></div>
	<div id="mb-gif-tile" class="mb-tile">
		<img src={keyboardCat.src} alt="Keyboard cat playing a keyboard" loading="lazy" decoding="async" />
	</div>

	<Button id="about-tile" label="About" icon="ci:info-square" type="scroll" focusCorner="ne" />

	<ColorTile />
	<JoyStickTile />

	<!-- <div id="mb-logo-tile" class="mb-tile" aria-hidden="true">
		<MVDLogo />
	</div> -->
</div>
