---
import './about-background.css';
import './blocks.css';
import Timeline from 'sections/about/Timeline.astro';
import AboutSvgFilters from 'sections/about/AboutSvgFilters.astro';
import AboutImage from 'sections/about/AboutImage.astro';
import SocialLink from 'sections/about/SocialLink.astro';
---

<section id="about">
	<div class="left-image-layer left-grid">
		<div class="left-image">
			<AboutImage />
		</div>
	</div>
	<div class="left left-grid">
		<div class="left-intro">
			<h1>matthew van doff</h1>
			<h2>software developer</h2>
			<p id="headline">Proin quis sem lacus. Vivamus non lorem nulla. Nam vel molestie est.</p>
		</div>

		<div class="left-links links">
			<SocialLink
				href="https://www.linkedin.com/in/matthew-vandoff/"
				icon="fa7-brands:linkedin"
				label="LinkedIn"
				brand="linkedin"
			/>
			<SocialLink href="https://github.com/mvandoff" icon="fa7-brands:github" label="GitHub" brand="github" />
		</div>
	</div>
	<div class="right">
		<div class="about-h3-container">
			<h3 class="about">about</h3>
		</div>
		<div class="blurbs">
			<p class="blurb">
				Hey what's up? I'm a human software developer, one of the last of my kind. I'm based in the Raleigh-Durham area
				in North Carolina, USA and have been developing professionally for well over 4 years. I like working with all
				kinds of software, but I specialize in full stack web development.
			</p>
			<p class="blurb">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit fringilla lacus id sagittis. Duis
				aliquam, odio vel fermentum iaculis, metus ligula ultricies risus, et sodales metus augue eget nibh. Donec
				dapibus at est ac auctor. Phasellus rutrum scelerisque luctus. Orci varius natoque penatibus et magnis dis
				parturient montes, nascetur ridiculus mus. Cras eu risus eu eros sagittis feugiat a eget metus. Praesent neque
				ex, efficitur at libero aliquet, interdum venenatis nisi.
			</p>
		</div>

		<div class="timeline-slot">
			<Timeline />
		</div>
	</div>

	<AboutSvgFilters />
</section>

<style is:global>
	#main-nav {
		z-index: 10;
		height: var(--block-size);
		padding-top: 0;
		padding-bottom: 0;
	}
	#about,
	#main-nav {
		/* width: calc(32 * var(--block-size)); */
		max-width: calc(32 * var(--block-size));
	}
</style>
<style>
	#about {
		position: relative;
		margin: 0 auto;
		padding: 0;
		justify-content: space-between;
		height: auto;
		min-height: 100vh;
		--left-col-span: 7;
		--left-row-intro: 3;
		--left-row-intro-span: 4;
		--left-row-image: 6;
		--left-row-image-span: 7;
		--left-row-links: 14;
		--left-row-links-span: 1;
		/* border: 2px solid red; */
	}
	.left-grid {
		width: calc(var(--left-col-span) * var(--block-size));
		margin-left: calc(4 * var(--block-size));
		position: fixed;
		top: 0;
		display: grid;
		grid-template-columns: repeat(var(--left-col-span), var(--block-size));
		grid-auto-rows: var(--block-size);
	}
	.left-image-layer {
		z-index: 4;
	}
	.left {
		z-index: 6;
		pointer-events: none;
		h1,
		h2 {
			background: transparent;
			margin: 0;
		}
		h1 {
			font-size: 48px;
			color: var(--slate-200);
			padding: 0;
		}
		h2 {
			color: var(--slate-200);
			font-size: 22px;
			text-align: left;
			padding: 0;
			user-select: auto;
			margin-top: 4px;
		}
		#headline {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			color: var(--slate-400);
			width: 360px;
			line-height: 24px;
			margin: 8px 0 0 0;
		}
	}
	.left-intro {
		grid-column: 1 / -1;
		grid-row: var(--left-row-intro) / span var(--left-row-intro-span);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.5rem;
		pointer-events: auto;
	}
	.left-image {
		grid-column: 1 / -1;
		grid-row: var(--left-row-image) / span var(--left-row-image-span);
		display: flex;
		align-items: stretch;
	}
	.left-image :global(.img-container-outer) {
		width: 100%;
	}
	.left-image :global(.img-container) {
		margin: 0;
	}
	.left-links {
		grid-column: 1 / -1;
		grid-row: var(--left-row-links) / span var(--left-row-links-span);
		display: grid;
		position: relative;
		z-index: 6;
		grid-template-columns: repeat(var(--left-col-span), var(--block-size));
		grid-template-rows: var(--block-size);
		align-items: center;
		margin-top: -32px;
		pointer-events: auto;
	}
	.left-links :global(.social-link) {
		width: 100%;
		height: 100%;
	}
	.left-links :global(.social-link:nth-child(1)) {
		grid-column: 1 / span 3;
	}
	.left-links :global(.social-link:nth-child(2)) {
		grid-column: 4 / span 3;
		margin-left: calc(var(--block-size) / 4);
	}
	.right {
		--right-col-start: 14;
		--right-col-span: 11;
		--right-row-about: 3;
		--right-row-blurbs: 4;
		--right-row-blurbs-span: 5;
		--right-row-timeline: 9;
		--right-row-timeline-span: 10;

		position: absolute;
		top: 0;
		left: calc(var(--right-col-start) * var(--block-size));
		width: calc(var(--right-col-span) * var(--block-size));
		display: grid;
		grid-template-columns: repeat(var(--right-col-span), var(--block-size));
		grid-auto-rows: var(--block-size);
		padding-bottom: 8rem;
		/* background: rgb(111, 32, 3); */
		/* border: 5px solid red; */

		h3 {
			color: var(--slate-200);
			margin: 0;
			padding-left: 1rem;
			font-size: 22px;
		}
		.about-h3-container {
			/* background: green; */
			grid-column: 1 / -1;
			grid-row: var(--right-row-about) / span 1;
			height: var(--block-size);
			width: 100%;
			display: flex;
			align-items: center;
		}
		.blurbs {
			/* background: red; */
			grid-column: 1 / -1;
			grid-row: var(--right-row-blurbs) / span var(--right-row-blurbs-span);
			height: calc(var(--right-row-blurbs-span) * var(--block-size));
			.blurb {
				font-size: 16px;
				border-radius: 0.5rem;
				line-height: 26px;
				font-family: 'Inter', sans-serif;
				color: var(--slate-400);
				padding-left: 1rem;
			}
		}
		.timeline-slot {
			grid-column: 1 / -1;
			grid-row: var(--right-row-timeline) / span var(--right-row-timeline-span);
		}
	}

	@media screen and (max-width: 1740px) {
		#about {
			/* padding-top: 2rem; */
		}
	}
	@media screen and (max-width: 1023px) {
	}
	@media screen and (max-width: 767px) {
	}
</style>

<script>
	import { initAbout } from 'sections/about/scripts/initAbout';

	document.addEventListener('DOMContentLoaded', initAbout);
</script>
