---
import './about-background.css';
import './blocks.css';
import { Icon } from 'astro-icon/components';
import Timeline from 'sections/about/Timeline.astro';
import AboutSvgFilters from 'sections/about/AboutSvgFilters.astro';
import AboutImage from 'sections/about/AboutImage.astro';
---

<section id="about">
	<div class="left">
		<h1>matthew van doff</h1>
		<h2>software developer</h2>
		<p id="headline">Proin quis sem lacus. Vivamus non lorem nulla. Nam vel molestie est.</p>

		<div class="links">
			<a href="https://www.linkedin.com/in/matthew-vandoff/" target="_blank" rel="noreferrer">
				<Icon name="fa7-brands:linkedin" />
			</a>
			<a href="https://github.com/mvandoff" target="_blank" rel="noreferrer">
				<Icon name="fa7-brands:github" />
			</a>
		</div>

		<AboutImage />
	</div>
	<div class="right">
		<h3 class="about">about</h3>
		<p class="blurb">
			Hey what's up? I'm a human software developer, one of the last of my kind. I'm based in the Raleigh-Durham area in
			North Carolina, USA and have been developing professionally for well over 4 years. I like working with all kinds
			of software, but I specialize in full stack web development.
		</p>
		<p class="blurb">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit fringilla lacus id sagittis. Duis
			aliquam, odio vel fermentum iaculis, metus ligula ultricies risus, et sodales metus augue eget nibh. Donec dapibus
			at est ac auctor. Phasellus rutrum scelerisque luctus. Orci varius natoque penatibus et magnis dis parturient
			montes, nascetur ridiculus mus. Cras eu risus eu eros sagittis feugiat a eget metus. Praesent neque ex, efficitur
			at libero aliquet, interdum venenatis nisi.
		</p>

		<Timeline />
	</div>

	<AboutSvgFilters />
</section>

<style is:global>
	#main-nav {
		z-index: 10;
		height: var(--bg-block-size);
		padding-top: 0;
		padding-bottom: 0;
	}
	#about,
	#main-nav {
		/* width: calc(32 * var(--bg-block-size)); */
		max-width: calc(32 * var(--bg-block-size));
	}
</style>
<style>
	#about {
		margin: 0 auto;
		padding: 0;
		justify-content: space-between;
		height: auto;
		min-height: 100vh;
		/* border: 2px solid red; */
	}
	.left,
	.right {
		padding: 8rem 0;
	}
	.left {
		width: calc(8 * var(--bg-block-size));
		margin-left: calc(4 * var(--bg-block-size));
		height: calc(16 * var(--bg-block-size));
		/* background: var(--main-900); */
		position: fixed;
		top: 0;

		#headline {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			color: var(--slate-400);
			width: 350px;
			line-height: 24px;
		}

		.links {
			margin-top: 1.5rem;
			display: flex;
			gap: 0.5rem;

			svg {
				height: 2.5rem;
				width: 2.5rem;
				color: #a4a4a4;
				transition: all 0.25s ease;
				&:hover {
					color: white;
				}
			}
		}
	}
	.right {
		margin-left: calc(15 * var(--bg-block-size));
		/* background: rgb(111, 32, 3); */
		width: calc(12 * var(--bg-block-size));
		height: 100vh;

		.blurb {
			/* width: 625px; */
			font-size: 16px;
			border-radius: 0.5rem;
			line-height: 26px;
			font-family: 'Inter', sans-serif;
			color: var(--slate-400);
			padding-left: 1rem;
		}
	}
	h1,
	h2,
	h3 {
		background: transparent;
	}
	h1 {
		font-size: 48px;
		color: var(--slate-200);
		margin-bottom: 0;
		padding: 0;
	}
	h2 {
		color: var(--slate-200);
		font-size: 22px;
		text-align: left;
		padding: 0;
		margin-top: 0.65rem;
		align-self: baseline;
		user-select: auto;
	}
	h3 {
		color: var(--slate-200);
		margin: 0;
		padding-left: 1rem;
		margin: 1rem 0;
		font-size: 22px;
	}

	@media screen and (max-width: 1740px) {
		#about {
			/* padding-top: 2rem; */
		}
	}
	@media screen and (max-width: 1023px) {
	}
	@media screen and (max-width: 767px) {
	}
</style>

<script>
	import { initAbout } from 'sections/about/scripts/initAbout';

	document.addEventListener('DOMContentLoaded', initAbout);
</script>
