---
import me from 'assets/images/me.webp';
import { Image } from 'astro:assets';
import TimelineBlock from 'sections/about/TimelineBlock.astro';
import { Icon } from 'astro-icon/components';
---

<section id="about">
	<div class="left">
		<h1>Matthew Van Doff</h1>
		<h2>Software Developer</h2>
		<p id="headline">
			Your trusted solution for computer stuff. Also possibly doing Uber. Not making the software, just driving.
		</p>

		<div class="links">
			<a href="https://www.linkedin.com/in/matthew-vandoff/" target="_blank">
				<Icon name="fa7-brands:linkedin" />
			</a>
			<a href="https://github.com/mvandoff" target="_blank">
				<Icon name="fa7-brands:github" />
			</a>
		</div>

		<div class="img-container">
			<Image src={me} alt="picture of me" class="me" />
		</div>
	</div>
	<div class="right">
		<p class="blurb">
			Hey what's up? I'm a human software developer, one of the last of my kind. I'm based in the Raleigh-Durham area in
			North Carolina, USA and have been developing professionally for well over 4 years. I like working with all kinds
			of software, but I specialize in full stack web development.
		</p>

		<div id="tl">
			<TimelineBlock
				company="Cyncly"
				title="Web Developer"
				start="2024"
				end="present"
				description="Worked on the frontend team for Insight, a cutting-edge manufacturing solution, migrating a monolithic legacy application to a modern React web app as well as developing new features."
				link="https://www.cyncly.com/"
			/>
			<TimelineBlock
				company="Game Builds"
				icon="🪦"
				title="Full Stack Developer"
				start="2023"
				end="2024"
				description="Helped build, launch and maintain www.diablobuilds.com which was an online resource and community for the popular online video game Diablo IV, featuring an advanced character builder with in depth analytics and customization."
			/>
			<TimelineBlock
				company="Applied Visions"
				title="Software Engineer"
				start="2021"
				end="2023"
				description="Developed two key enterprise applications: a professional networking platform for the insurance industry and an AI-powered project management tool for government clients, as well as mentoring junior developers for the client."
				link="https://avi.com"
			/>
		</div>
	</div>
</section>
<style>
	#about {
		padding: 6rem 2rem;
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-evenly;
		height: auto;
	}
	.left,
	.right {
		padding-top: 4rem;
	}
	.left {
		width: max-content;
		height: max-content;
		padding-left: 5vw;

		#headline {
			font-family: 'Inter', sans-serif;
			font-size: 16px;
			margin: 1rem 0;
			color: var(--slate-400);
			width: 350px;
			line-height: 24px;
		}

		.img-container {
			border: 1px dashed white;
			margin: 2rem auto;
			width: 100%;
			padding: 2rem;
			/* display: flex; */
			/* align-items: center; */

			img.me {
				width: 100%;
				object-fit: scale-down;
				max-width: 100%;
				border-radius: 0.5rem;
				max-height: 450px;
				transition: 0.25s ease;
				opacity: 0.6;

				&:hover {
					opacity: 0.8;
				}
			}
		}

		.links {
			margin-top: 2rem;
			display: flex;
			gap: 1rem;

			svg {
				height: 2.5rem;
				width: 2.5rem;
				color: #a4a4a4;
				transition: all 0.15s ease;
				&:hover {
					color: white;
				}
			}
		}
	}
	.right {
		max-width: 700px;
		width: 50%;

		.blurb {
			/* width: 625px; */
			font-size: 16px;
			border-radius: 0.5rem;
			line-height: 26px;
			font-family: 'Inter', sans-serif;
			color: var(--slate-400);
			padding-left: 1rem;
		}
	}
	h1 {
		font-size: 48px;
		font-family: 'Inter', sans-serif;
		color: var(--slate-200);
		margin-bottom: 0;
		padding: 0;
		line-height: 48px;
	}
	h2 {
		color: var(--slate-200);
		font-size: 20px;
		font-family: 'Inter', sans-serif;
		text-align: left;
		padding: 0;
		margin-top: 0.5rem;
		align-self: baseline;
	}
	#tl {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-top: 1rem;
	}
</style>
