<button id="menu-btn">[ menu ]</button>
<style>
	#menu-btn {
		display: none;
		position: fixed;
		top: 2rem;
		right: 2rem;
	}
	@media (max-width: 1023px) {
		#menu-btn {
			display: block;
			font-size: 24px;
		}
	}
	@media (max-width: 767px) {
		#menu-btn {
			display: block;
			font-size: 22px;
			right: 2rem;
		}
	}
</style>
