<button id="menu-btn" class="closed">[ menu ]</button>
<style>
	#menu-btn {
		display: none;
		position: fixed;
		top: 1.5rem;
		right: 2rem;
		z-index: 200;
	}
	@media (max-width: 1023px) {
		#menu-btn {
			display: block;
			font-size: 28px;
		}
	}
	@media (max-width: 767px) {
		#menu-btn {
			display: block;
			/* font-size: 2px; */
			right: 2rem;
		}
	}
</style>
<script>
	document.addEventListener('DOMContentLoaded', (e) => {
		const btn = document.querySelector('#menu-btn')!;
		const menu = document.querySelector('#mobile-menu')!;

		btn.addEventListener('mousedown', () => {
			e.stopPropagation();
			e.stopImmediatePropagation();
			if (btn.classList.contains('open')) {
				btn.textContent = '[ menu ]';
				btn.classList.replace('open', 'closed');
				menu.classList.replace('open', 'closed');
			} else {
				btn.textContent = '[ close ]';
				btn.classList.replace('closed', 'open');
				menu.classList.replace('closed', 'open');
			}
		});
	});
</script>
