---
const { pathname } = Astro.url;
---

<nav>
	<a href="/" class={pathname === '/' ? 'selected' : ''}>[ home ]</a>
	<a href="/work" class={pathname === '/work' ? 'selected' : ''}>[ work ]</a>
	<a href="#">[ about ]</a>
	<a href="#">[ contact ]</a>
</nav>

<style>
	nav {
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		a {
			/* transition: all 1s ease; */
			&:hover {
				/* letter-spacing: 0.2rem; */
				color: var(--main-200);
			}
			&.selected {
				color: var(--main-200);
			}
		}
	}
	@media (max-width: 1023px) {
		nav {
			display: none;
		}
	}
</style>
