---
const { pathname } = Astro.url;
---

<nav id="main-nav">
	<a href="/" class={pathname === '/' ? 'selected' : ''}>[ home ]</a>
	<a href="/work" class={pathname === '/work' ? 'selected' : ''}>[ work ]</a>
	<a href="/about" class={pathname === '/about' ? 'selected' : ''}>[ about ]</a>
	<a href="#">[ contact ]</a>
</nav>

<style>
	nav {
		background: black;
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		padding: 16px 1.5rem;
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		flex-direction: row;
		font-size: 28px;
		transition: background var(--overlay-transition-time) ease;

		a {
			transition: color 0.25s ease;
			color: #737373;
			&.inactive:not(.transitioning) {
				color: #494949 !important;
			}
			&.active {
				color: white;
			}
			&:hover {
				color: white;
			}
			&.selected {
				color: white;
				cursor: default;
				pointer-events: none;
			}
			&.transitioning {
				animation: flash infinite 0.2s;
				transition: color none !important;
			}
		}
		button {
			color: #737373;
			transition: color 0.25s ease;
			&:hover {
				color: white;
			}
		}
	}
	@media (max-width: 1023px) {
		nav {
			display: none;
		}
	}
	@keyframes flash {
		from {
			color: white;
		}
		to {
			color: var(--slate-500);
		}
	}
</style>

<style is:global>
	.work-nav-item {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	#work-scroll-msg {
		right: 2rem;
		font-size: 1.25rem;
		letter-spacing: 0.15rem;
	}
	html[active-proj='btsm'] {
		#work-scroll-msg {
			color: var(--btsm-bg-700);
		}
		#work-back-btn,
		.work-nav-item {
			color: var(--btsm-bg-700);
		}
		#work-back-btn:hover {
			color: var(--btsm-accent-500);
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const nav = document.querySelector('#main-nav');
		const navItems = nav?.querySelectorAll('a');

		navItems?.forEach((navItem) => {
			navItem.addEventListener('mouseenter', (e) => {
				const selectedEle = e.target as HTMLAnchorElement;
				if (selectedEle.classList.contains('selected')) return;

				navItems.forEach((ele) => {
					if (ele !== selectedEle) ele.classList.add('inactive');
					else ele.classList.add('active');
				});
			});

			navItem.addEventListener('mouseleave', (e) => {
				navItems.forEach((ele) => ele.classList.remove('inactive', 'active'));
			});
		});
	});
</script>
