---
const { pathname } = Astro.url;
---

<nav id="main-nav">
	<div class="nav-items">
		<a href="/" class={pathname === '/' ? 'selected' : ''}>[ home ]</a>
		<a href="/work" class={pathname === '/work' ? 'selected' : ''}>[ work ]</a>
	</div>
</nav>

<style>
	nav {
		display: flex;
		flex-direction: row;
		position: fixed;
		background: black;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		width: 100%;
		padding: 0 4rem;
		z-index: 10;
		font-size: 24px;
		transition: background var(--overlay-transition-time) ease;

		.nav-items {
			width: 100%;
			max-width: 1270px;
			display: flex;
			justify-content: space-between;
			margin: 0 auto;
		}

		a {
			transition: color 0.25s ease;
			color: var(--neutral-500);
			&.inactive:not(.transitioning) {
				color: #494949 !important;
			}
			&.active {
				color: var(--neutral-100);
			}
			&:hover {
				color: var(--neutral-100);
			}
			&.selected {
				color: var(--neutral-100);
				cursor: default;
				pointer-events: none;
			}
			&.transitioning {
				animation: flash infinite 0.2s;
				transition: color none !important;
			}
		}
		button {
			color: var(--neutral-500);
			transition: color 0.25s ease;
			&:hover {
				color: var(--neutral-100);
			}
		}
	}
	@media (max-width: 1280px) {
		nav {
			display: none;
		}
	}
	@keyframes flash {
		from {
			color: white;
		}
		to {
			color: var(--slate-500);
		}
	}
</style>

<style is:global>
	.work-nav-item {
		position: absolute;
		opacity: 0;
		pointer-events: none;
	}
	#work-scroll-msg {
		right: 2rem;
		font-size: 1.25rem;
		letter-spacing: 0.15rem;
	}
	html[active-proj='btsm'] {
		#work-scroll-msg {
			color: var(--btsm-bg-700);
		}
		#work-scroll-msg-mobile {
			color: var(--btsm-bg-700);
		}
		#work-back-btn,
		.work-nav-item {
			color: var(--btsm-bg-700);
		}
		#work-back-btn:hover {
			color: var(--btsm-accent-500);
		}
	}
</style>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const nav = document.querySelector('#main-nav');
		const navItems = nav?.querySelectorAll('a');

		navItems?.forEach((navItem) => {
			navItem.addEventListener('mouseenter', (e) => {
				const selectedEle = e.target as HTMLAnchorElement;
				if (selectedEle.classList.contains('selected')) return;

				navItems.forEach((ele) => {
					if (ele !== selectedEle) ele.classList.add('inactive');
					else ele.classList.add('active');
				});
			});

			navItem.addEventListener('mouseleave', () => {
				navItems.forEach((ele) => ele.classList.remove('inactive', 'active'));
			});
		});
	});
</script>
