<div class="transition" id="transition"></div>

<style is:global>
	:root {
		/* --transition-bg: var(--main-950); */
		--transition-bg: black;
		/* --transition-bg: rgb(30, 30, 77); */
	}
	.transition {
		display: grid;
		/* Must sit above all page overlays (e.g. About `#bg-blocks` and `.tl-block` z-indexes). */
		z-index: 10000;
		background-color: var(--transition-bg);
		width: 100%;
		min-height: 100vh;
		position: fixed;
		inset: 0;
		grid-template-columns: repeat(var(--block-cols), 1fr);
	}

	.transition-block {
		background-color: var(--transition-bg);
		width: 100%;
		height: 100%;
	}

	@media screen and (max-width: 767px) {
		.transition {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	@media screen and (max-width: 479px) {
		.transition {
			grid-template-columns: repeat(6, 1fr);
		}
	}
</style>
<script>
	import { initTransition } from 'scripts/global/initTransition';

	initTransition();
</script>
