<div class="overlay-col col-left">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f89_eberhard-grossgasteiger-UclnVUmf5aQ-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
<div class="overlay-col col-right">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f90_filippo-fFh53mf_6iE-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
	<p class="paragraph">
		Tucked among towering peaks and serene valleys, this haven offers a peaceful escape from the noise of the world.
	</p>
</div>
