---
import { Icon } from 'astro-icon/components';
import Brand from '../../../components/Brand.astro';
import ExternalLink from 'sections/work/component/ExternalLink.astro';
import BrandsGrid from 'sections/work/component/BrandsGrid.astro';
import btsmFima from 'assets/images/btsm-figma.png';
import designBooks from 'assets/images/design-books.png';
import { Image } from 'astro:assets';
---

<div class="proj" data-proj-id={'btsm'}>
	<a class="live-site-btn" href="https://bytheseamassage.com" target="_blank"
		>live site
		<Icon name="heroicons:arrow-top-right-on-square" />
	</a>
	<h3>motivation</h3>
	<p class="motivation">
		Create a brand identity, design, and build a professional, luxury-forward website for a high-end massage therapy
		business, building trust and increasing bookings through an elegant, responsive one-page site.
	</p>

	<BrandsGrid>
		<Brand icon="vscode-icons:file-type-typescript-official" label="TypeScript" />
		<Brand icon="vscode-icons:file-type-html" label="HTML" />
		<Brand icon="vscode-icons:file-type-css2" label="CSS" />
		<Brand icon="vscode-icons:file-type-light-astro" label="Astro" />
		<Brand icon="skill-icons:photoshop" label="Photoshop" />
		<Brand icon="skill-icons:illustrator" label="Illustrator" />
		<Brand icon="simple-icons:gsap" label="GSAP" class="gsap-logo" />
	</BrandsGrid>

	<h3>about</h3>
	<p>
		By the Sea was my attempt to foray into the world of design. As front-end developers, we're often asked to make
		design decisions, but most of us don't have formal design training, so we do the best we can. Having designed
		<ExternalLink link="https://syfr.studio" title="Syfr (syfr.studio)" /> and being a regular visitor to
		<ExternalLink link="https://awwwards.com" title="awwwards.com" />, I wasn't entirely new to design, but with this
		project I wanted to dive headfirst into the techniques and mindset of a real designer. The client was starting from
		scratch and trusted me not just to create a functioning website, but also to create a brand identity, logo, and
		design aesthetic that fit their business.
	</p>
	<p>
		I immersed myself in great design in every way I could think of. I bought design books, renewed my long-dormant
		Adobe subscription, took an online Adobe Illustrator course, and even started learning how to draw. Once my workflow
		was dialed in and I had the basics down, it was easy to get inspired and get to work.
	</p>
	<figure class="proj-footer-img body-figure">
		<Image alt="" src={designBooks} loading="lazy" class="image" />
		<figcaption class="caption">A few of the books I used to strengthen my design fundamentals.</figcaption>
	</figure>
	<p>The design process varies from person to person, but most projects follow a similar set of core steps:</p>
	<ol>
		<li>
			<b>Gather requirements:</b> Ascertain the client's vision in as much detail as possible. In this case, the client wanted
			to evoke feelings of calmness and serenity and steer away from businesses focused on athletic injury recovery.
		</li>
		<li>
			<b>Mood boards:</b> Learn how other designers have approached similar problems and get a feel for what's possible, what
			you like, and what you don't. I looked at websites for similar businesses (spas, boutique wellness brands, and anything
			that felt calm). I also started curating stock photos, building a color palette, and exploring font pairings.
		</li>
		<li>
			<b>Low-fidelity mockups:</b> Make a rough sketch of what sections you need, what they might look like, and where they
			will live on the page. In this case, we wanted a simple one-pager with an about section, a services section, and a contact
			section that could evolve into online booking later.
		</li>
		<li>
			<b>High-fidelity mockups:</b> The hard part. Take the design out of your head and onto the screen. For a website, you
			usually need separate layouts for desktop, tablet, and mobile. I went through many revisions, hashing out ideas only
			to find they didn't work the way I expected. I've always found this process to be time-consuming, and this time was
			no different, even with new knowledge. Being the developer does give me an advantage here. I don't have to be quite
			as detailed because I know the intent won't be lost in the handoff from design to development.
		</li>
	</ol>
	<div class="proj-footer-img">
		<Image alt="" src={btsmFima} loading="lazy" class="image" />
		<span class="caption"
			>Some early design iterations of the site in Figma. You can see how much work goes into designing for desktop,
			tablet, and mobile!
		</span>
	</div>
	<p>
		On the tech side, I tried to keep it simple. Astro is my go-to "framework" for building static sites. It lets me use
		basic HTML/CSS/JS, while still breaking things into components for cleaner, more structured code. It also comes with
		built-in optimizations and TypeScript support. The hard part was learning GSAP. GSAP is the industry standard for
		building interactive animations on the web. Having the three slats in the hero swipe across the screen, tied to
		scroll, with a parallax effect was an idea I had early on. It wasn't easy, but I was able to pull it off with GSAP's
		ScrollTrigger plugin.
	</p>
	<p>
		I learned a ton from this project, and I'm grateful I had the opportunity to do it. I'm happy to leave the designing
		to the designers, but I'm glad that I feel a little more comfortable now stepping in if I need to.
	</p>
</div>

<style>
	.proj {
		p,
		.brand-name,
		li {
			color: var(--btsm-bg-800);
		}
		h3 {
			color: var(--btsm-bg-700);
		}
		.live-site-btn {
			border: 2px solid var(--btsm-bg-600);
			color: var(--btsm-bg-800);

			&:hover {
				border: 2px solid var(--btsm-accent-400);
				color: var(--btsm-accent-500);
			}
		}
		.motivation {
			width: 710px;
		}
		.proj-footer-img {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			gap: 1rem;

			.caption {
				color: var(--btsm-bg-800);
				width: 550px;
			}
		}
		img {
			object-fit: scale-down;
			height: auto;
			max-width: 90%;
		}
		.body-figure {
			margin: 2rem 0;
		}
		.proj-footer-img .image {
			box-shadow:
				0 10px 18px rgb(0 0 0 / 0.08),
				inset 0 0 0 1px hsl(from var(--neutral-950) h s l / 0.06);
		}
		ol {
			max-width: 100%;
		}
		p a {
			font-size: inherit;
		}
	}
	@media screen and (max-width: 1023px) {
		.proj {
		}
	}
	@media screen and (max-width: 767px) {
		.proj {
		}
	}
</style>
<style is:global>
	a {
		color: var(--btsm-bg-700);
		font-weight: 400;
	}
	.gsap-logo svg {
		color: black;
	}
</style>
