---
import { Icon } from 'astro-icon/components';
import Brand from 'components/Brand.astro';
import BrandsGrid from 'sections/work/component/BrandsGrid.astro';
---

<div class="proj" data-proj-id="mvdc">
	<a class="live-site-btn" href="https://github.com/mvandoff/matthewvandoff.com-v2" target="_blank"
		>repository
		<Icon name="heroicons:arrow-top-right-on-square" />
	</a>
	<h3>motivation</h3>
	<p class="motivation">Create my own personal space on the web, for funsies.</p>

	<BrandsGrid>
		<Brand icon="vscode-icons:file-type-typescript-official" label="TypeScript" />
		<Brand icon="vscode-icons:file-type-html" label="HTML" />
		<Brand icon="vscode-icons:file-type-css2" label="CSS" />
		<Brand icon="vscode-icons:file-type-astro" label="Astro" />
		<Brand icon="simple-icons:gsap" label="GSAP" />
	</BrandsGrid>

	<h3>about</h3>
	<p>
		I’ve always wanted to have a cool website, a home for my ideas. I’ve been a citizen of the internet since I was a
		little kid. I always feel a rush of nostalgia whenever I see one of those old sites, back in the GeoCities era, when
		TechTV was still around, a simpler time.
	</p>

	<p>
		This project was supposed to be short. Having spent a ton of time on By the Sea Massage, I thought I would be able
		to move fast, even with having to design and develop it. That turned out to be wrong. I had ideas to move fast! I
		used pre-designed, prebuilt elements, but jamming external code into the codebase proved difficult more than once,
		so I ended up having to implement everything myself.
	</p>

	<p>
		During the time that I spent implementing this project, AI capabilities grew massively. When I tried using Claude
		Code back in July it was barely ever successful. All the minor design and animation implementation details seem to
		overwhelm it. But sometime in January I decided to try Codex since it came with my ChatGPT subscription, and I slowly
		started to understand how to use it. As of the time I am writing this in March, I am barely writing any handwritten
		code on this project anymore, compared to when I started, when I was writing every line myself.
	</p>

	<p>
		One of the issues I had with this project was that I didn’t have a design, since I had originally planned on using a
		bunch of pre-designed components. Usually, that’s a bad idea. You spend 10x longer revising design ideas in code than
		you would if you had just done it in Figma. But with the AI, it became possible. Suddenly, I could propose far
		far-fetched ideas, then have Codex actually implement them. Many of the ideas I had, I never would have implemented
		myself. Not just because of the time, but because I was unsure if they would even look good. Sunk cost fallacies
		become very real after spending that amount of time.
	</p>

	<p>I’m happy to call this place home, and I hope there will be a lifetime of content to fill it with!</p>
</div>
<style>
	.proj {
		.live-site-btn {
			margin-top: 4rem;
			border: 2px solid var(--main-700);
			color: white;

			&:hover {
				border-color: var(--main-500);
			}
		}
	}
</style>
