---
import Brand from 'components/Brand.astro';
---

<div class="proj" data-proj-id="mvdc">
	<h3>motivation</h3>
	<p class="motivation">Create my own personal space on the web, for funsies.</p>

	<h3>tech used</h3>
	<div class="brands-grid">
		<Brand icon="vscode-icons:file-type-typescript-official" label={`JavaScript /`} label2="TypeScript" />
		<Brand icon="vscode-icons:file-type-html" label="HTML" />
		<Brand icon="vscode-icons:file-type-css2" label="CSS" />
		<Brand icon="vscode-icons:file-type-astro" label="Astro" />
		<Brand icon="simple-icons:gsap" label="GSAP" />
	</div>

	<h3>about</h3>
	<p>
		I wanted a new website to showcase my projects and to revamp my old one. I wanted it to look like the Matrix in a
		Geocities website and I didn't want to think about it too much. Well here we are.
	</p>
</div>
<style>
	.proj {
		.live-site-btn {
			border: 1px solid white;
		}
		p:last-child {
			margin-bottom: 10rem;
		}
	}
	.brands-grid {
		width: 600px !important;
		display: grid;
		margin: 0 auto;
		gap: 2rem;
	}
	@media screen and (max-width: 1023px) {
		.proj {
			.brands-grid {
				width: 500px !important;
			}
		}
	}
	@media screen and (max-width: 767px) {
		.proj {
			.brands-grid {
				/* width: 400px !important; */
			}
		}
	}
</style>
