<div class="overlay-col col-left">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7fb8_karsten-winegeart-VTzcKDm7Sug-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
<div class="overlay-col col-right">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7fcc_karsten-winegeart-EqMRa0cgEiI-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
