---
import { Icon } from 'astro-icon/components';
---

<a class="live-site-btn" href="https://syfr.studio" target="_blank"
	>live site
	<Icon name="heroicons:arrow-top-right-on-square" />
</a>
<h3>motivation</h3>
<p class="motivation">
	Create a platform to centralize the multitude of needs and create a collaborative hub for music creators in a secure
	cloud based environment.
</p>

<h3>tech</h3>
<div class="brands-grid">
	<div class="brands-col">
		<span class="brand">
			<Icon name="fa7-brands:js" />
			<span class="brand-name">JavaScript / TypeScript</span>
		</span>
		<span>React</span>
		<span>HTML</span>
		<span>CSS</span>
		<span>Tailwind CSS</span>
		<span>Zustand</span>
	</div>
	<div class="brands-col">
		<span>Next.js</span>
		<span>Node.js</span>
		<span>Prisma</span>
		<span>tRPC</span>
	</div>
	<div class="brands-col">
		<span>AWS</span>
		<span>PostgreSQL</span>
	</div>
</div>

<style>
	.motivation {
		width: 725px;
	}
</style>
<!-- <div class="overlay-col col-left">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f89_eberhard-grossgasteiger-UclnVUmf5aQ-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
<div class="overlay-col col-right">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f90_filippo-fFh53mf_6iE-unsplash.jpg"
			loading="lazy"
			class="image"
		/>
	</div>
</div> -->
