---
import { Icon } from 'astro-icon/components';
import Brand from '../../../components/Brand.astro';
import BrandsGrid from 'sections/work/component/BrandsGrid.astro';
---

<div class="proj" data-proj-id={'syfr'}>
	<a class="live-site-btn" href="https://syfr.studio" target="_blank"
		>live site
		<Icon name="heroicons:arrow-top-right-on-square" />
	</a>
	<h3>motivation</h3>
	<p class="motivation">
		Build a secure, cloud-based workspace where music creators can collaborate, organize projects, and share the right
		files with the right people (drafts, stems, mixes, and everything in between), without the usual back-and-forth.
	</p>

	<BrandsGrid>
		<Brand icon="vscode-icons:file-type-typescript-official" label="TypeScript" />
		<Brand icon="vscode-icons:file-type-reactjs" label="React" />
		<Brand icon="vscode-icons:file-type-html" label="HTML" />
		<Brand icon="vscode-icons:file-type-css2" label="CSS" />
		<Brand icon="vscode-icons:file-type-tailwind" label="Tailwind CSS" />
		<Brand icon="vscode-icons:file-type-next" label="Next.js" />
		<Brand icon="vscode-icons:file-type-node" label="Node.js" />
		<Brand icon="vscode-icons:file-type-light-prisma" label="Prisma" />
		<Brand icon="fa7-brands:aws" label="AWS" class="aws" />
		<Brand icon="skill-icons:postgresql-dark" label="PostgreSQL" />
	</BrandsGrid>

	<h3>about</h3>
	<p>
		Syfr was my first baby. I initially thought of the idea when I was still in the early stages of my developer
		journey. I had, for the most part, completed the "App Academy Open" boot camp curriculum and I knew I needed to
		start working on a big project if I was really going to cut my teeth. In those days I was still doing a lot of music
		production while learning to code. Perhaps that's what gave me the idea for something like a "GitHub for musicians".
	</p>
	<p>
		I kept running into the same issues again and again. There were many different people who would collaborate on one
		song, with many different roles, and they would all need access to different files. The artist might want to hear
		the latest version of a track, a musician might need a stripped-down version to play over, another producer might
		need stems for the whole project, or maybe the whole project in some other format. Typically, this was done with
		Gmail, Dropbox, WeTransfer, or some other service for sending files. (As far as I can tell, this is still the
		industry standard.) To me, this seemed like a problem that was begging for a solution.
	</p>
	<p>
		I dove headfirst into the process of building a full-scale web app from scratch. I created mockups, showed my ideas
		to designers, researched different tech stacks, pulled all-nighters, and banged my head against the wall dealing
		with the sort of problems that real developers face every day. Eventually, that project helped me land my first job
		at AVI.
	</p>
	<p>
		About a year into my tenure at AVI, having learned a ton, I decided to rewrite it entirely, this time foregoing any
		component frameworks, using a more appropriate database and server, and adopting the Next.js framework. Today, given
		what I know now, I'd love to rewrite it again! This project taught me how quickly tech evolves and ages. Since then,
		many companies have been funded to build a similar product, from what I can tell, with little success. A few of them
		seem to have pivoted to other ideas. It turns out musicians are not the most profitable target demographic. I still
		use Syfr occasionally with friends and hope to one day continue improving it!
	</p>
</div>

<style>
	.proj {
		color: var(--slate-50);
		.motivation {
			width: 600px;
		}
		.live-site-btn {
			margin-top: 4rem;
			border: 2px solid var(--main-700);
			color: white;

			&:hover {
				border-color: var(--main-500);
			}
		}
	}
</style>
<style is:global>
	.aws svg {
		color: #ff9903;
	}
</style>
