<div class="overlay-col col-left">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f58_tobias-reich-VltYe88rkt8-unsplash.avif"
			loading="lazy"
			class="image"
		/>
	</div>
</div>
<div class="overlay-col col-right">
	<div class="overlay-col__img">
		<img
			alt=""
			src="https://cdn.prod.website-files.com/67698689512e0fc28ac45d04/67698a0416860b36f6dd7f77_tobias-reich-wr6m4OOZZtw-unsplash.avif"
			loading="lazy"
			class="image"
		/>
	</div>
	<p class="paragraph">
		A sophisticated getaway with modern architecture and unforgettable sunsets, where every moment feels timeless.
	</p>
</div>
