:root {
	/* --main-900: #000005;
	--main-800: #01001f;
	--main-700: #02002e;
	--main-600: #030042;
	--main-500: #070354;
	--main-400: #2f3dbf;
	--main-300: #5763d6;
	--main-200: #818ae4;
	--main-100: #acb3f1;
	--main-50: #a9bde0;
	--accent-300: #62c1fd; */

	--main-50: #e1f3fe;
	--main-100: #95d7ff;
	--main-200: #63c4fe;
	--main-300: #30b1fe;
	--main-400: #17a7ff;
	--main-500: #009dfd;
	--main-600: #008ee3;
	--main-700: #006eb1;
	--main-800: #004e7e;
	--main-900: #002f4b;
	--main-950: #001623;

	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;
}
html,
body {
	height: 100%;
}
body {
	color: white;
	font-family: 'DotGothic16', sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}
section:not(.unset-height) {
	height: 100svh;
	position: relative;
}
a {
	text-decoration: none;
	color: unset;
	color: white;
}
h1,
h2 {
	font-size: 60px;
	display: block;
	padding: 0.5rem 1rem;
	margin: 0;
	width: max-content;
	z-index: 99;
	background: rgb(0 0 10 / 0.25);
}
h1 {
	margin-bottom: 0.5rem;
	color: var(--main-200);
}
h2 {
	user-select: none;
	&:hover {
		color: var(--main-200);
	}
}
h3 {
	font-size: 24px;
}
button {
	color: white;
}
@media (max-width: 1023px) {
	h1,
	h2 {
		font-size: 40px;
	}
	a {
		font-size: 24px;
	}
}
@media (max-width: 767px) {
	h1,
	h2 {
		font-size: 30px;
	}
	a {
		font-size: 22px;
	}
}
