@font-face {
	font-family: 'Gridular';
	src: url('/fonts/Gridular-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Original main colors */
	/* --main-50: #e1f3fe;
    --main-100: #95d7ff;
    --main-200: #63c4fe;
    --main-300: #30b1fe;
    --main-400: #17a7ff;
    --main-500: #009dfd;
    --main-600: #008ee3;
    --main-700: #006eb1;
    --main-800: #004e7e;
    --main-900: #002f4b;
    --main-950: #001623; */

	/* Tailwind indigo colors */
	--main-50: #eef2ff;
	--main-100: #e0e7ff;
	--main-200: #c7d2fe;
	--main-300: #a5b4fc;
	--main-400: #818cf8;
	--main-500: #6366f1;
	--main-600: #4f46e5;
	--main-700: #4338ca;
	--main-800: #3730a3;
	--main-900: #312e81;
	--main-950: #1e1b4b; /* Custom indigo-950 */

	--slate-50: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;

	--btsm-bg-50: #fffbf7;
	--btsm-bg-100: #f1ede9;
	--btsm-bg-200: hsl(28, 19%, 84%);
	--btsm-bg-300: #c7bbae;
	--btsm-bg-400: #a7998b;
	--btsm-bg-500: #9b8f82;
	--btsm-bg-600: #7d7164;
	--btsm-bg-700: #635a4f;
	--btsm-bg-800: #4f4a45;
	--btsm-bg-900: #44403c;
	--btsm-bg-1000: #312e2b;
	--btsm-bg-1100: #1b1918;
	--btsm-bg-1200: hsl(20 10% 2% / 1);

	--btsm-accent-300: hsl(191 42% 75% / 1);
	--btsm-accent-400: hsl(191 33.68% 62.16%);
	--btsm-accent-500: #6393a6;
	--btsm-accent-600: hsl(192, 35%, 37%);
	--btsm-accent-700: hsl(192 37% 23% / 1);

	--scrollbar-thumb: var(--main-500);
	--scrollbar-thumb-2: var(--main-700);
	--scrollbar-thumb-hover: var(--main-300);
	--scrollbar-track: rgba(99, 102, 241, 0.18);
	--scrollbar-size: 10px;
	--scrollbar-block-size: 6px;

	--block-cols: 26;

	transition: background var(--overlay-transition-time) ease;
	background-color: black;
}
* {
	box-sizing: border-box;
}
html,
body,
main {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-optical-sizing: auto;
}

html,
body {
	/* Firefox */
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

/* WebKit browsers */
::-webkit-scrollbar {
	width: var(--scrollbar-size);
	height: var(--scrollbar-size);
}
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, var(--scrollbar-thumb), var(--scrollbar-thumb-2));
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, var(--scrollbar-thumb-hover), var(--scrollbar-thumb));
}
body {
	color: white;
	/* font-family: 'DotGothic16', sans-serif; */
	font-family: 'Gridular', sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}

section,
#project-overlay,
nav {
	max-width: 1600px;
	margin: 0 auto;
}
section:not(.unset-height) {
	height: 100svh;
	box-sizing: border-box;
	position: relative;
}
a {
	text-decoration: none;
	color: unset;
	color: white;
	&:hover {
		cursor: pointer;
	}
}
h1,
h2 {
	font-size: 60px;
	display: block;
	padding: 0.5rem 1rem;
	margin: 0;
	width: max-content;
	z-index: 99;
	background: rgb(0 0 10 / 0.25);
}
h1 {
	margin-bottom: 0.5rem;
	color: var(--main-200);
}
h2 {
	user-select: none;
	font-weight: 500;
	&:hover {
		color: var(--main-200);
	}
}
h3 {
	font-weight: 500;
}
button {
	color: white;
}
@media (max-width: 1023px) {
	h1,
	h2 {
		font-size: 40px;
	}
	a {
		font-size: 18px;
	}
}
@media (max-width: 767px) {
	h1,
	h2 {
		font-size: 30px;
	}
	a {
		font-size: 22px;
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
