:root {
	--main-900: #00000a;
	--main-800: #01001f;
	--main-700: #02002e;
	--main-600: #030042;
	--main-500: #070354;
	--main-400: #2f3dbf;
	--main-300: #5763d6;
	--main-200: #818ae4;
	--main-100: #acb3f1;
	--main-50: #a9bde0;

	--accent-300: #62c1fd;
}
html,
body {
	height: 100%;
}
body {
	background: var(--main-900);
	color: white;
	font-family: 'DotGothic16', sans-serif;
	font-weight: 400;
	font-style: normal;
	position: relative;
}
a {
	text-decoration: none;
	color: unset;
	font-size: 26px;
	color: white;
}
h1,
h2 {
	font-size: 50px;
	display: block;
	padding: 0.5rem 1rem;
	margin: 0;
	width: max-content;
	z-index: 99;
	background: rgb(0 0 10 / 0.25);
}
h1 {
	margin-bottom: 0.5rem;
	color: var(--main-200);
}
h2 {
	user-select: none;
	&:hover {
		color: var(--main-200);
	}
}
button {
	color: white;
}
@media (max-width: 1023px) {
	h1,
	h2 {
		font-size: 40px;
	}
	a {
		font-size: 24px;
	}
}
@media (max-width: 767px) {
	h1,
	h2 {
		font-size: 30px;
	}
	a {
		font-size: 22px;
	}
}
