---
import 'normalize.css';
import 'styles.css';
import 'my-reset.css';

import Nav from 'components/Nav.astro';
import Transition from 'components/Transition.astro';
import MobileNav from 'components/MobileNav/MobileNav.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta content="initial-scale=1.0, width=device-width" name="viewport" />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet" />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
			rel="stylesheet"
		/>

		<title>{title}</title>
	</head>
	<body>
		<!-- <Transition /> -->

		<Nav />
		<MobileNav />

		<main>
			<slot />
		</main>
	</body>
</html>
